# MergeBom is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
#
# Copyright 2017 Daniele Basile <asterix24@gmail.com>
#

# MERGE BOM Configuration file
# Section position in file reflect ordering in out BOM file.

[[category_names]]
name= 'Connectors'
desc = 'Connectors and holders'
group = ['X', 'P', 'SIM']
ref = 'J'

[[category_names]]
name= 'Mechanicals'
desc = 'Mechanical parts and buttons'
group = [
    'SCR',
    'SPA',
# Battery
    'BAT',
# Buzzer
    'BUZ',
# Buttons
    'BT',
    'B',
    'SW',
    'K']
ref = 'S'

[[category_names]]
name='Fuses'
desc = 'Fuses discrete components'
group = ['G']
ref = 'F'

[[category_names]]
name= 'Resistors'
desc = 'Resistor components'
group = ['RN', 'R_G']
ref = 'R'

[[category_names]]
name = 'Capacitors'
desc = 'Capacitors'
group= []
ref= 'C'

[[category_names]]
name = 'Diode'
desc = 'Diodes, Zener, Schottky, LED, Transil'
group= ['DZ']
ref= 'D'

[[category_names]]
name = 'Inductors'
desc = 'L  Inductors, chokes'
group= []
ref= 'L'

[[category_names]]
name = 'Transistor'
desc = 'Q Transistors, MOSFET'
group= []
ref= 'Q'

[[category_names]]
name = 'Transformes'
desc = 'TR Transformers'
group= ['T']
ref= 'TR'

[[category_names]]
name = 'Cristal'
desc = 'Cristal, quarz, oscillator'
group= []
ref= 'C'

[[category_names]]
name = 'IC'
desc = 'Integrates and chips'
group= []
ref= 'U'

[[category_names]]
name = 'DISCARD'
desc = 'Reference to discard, to not put in BOM'
group= ['TP']
ref= ''

