altgraph==0.17
appnope==0.1.0
backcall==0.1.0
decorator==4.4.2
fbs==0.8.4
ipython==7.0.1
ipython-genutils==0.2.0
jedi==0.16.0
macholib==1.14
parso==0.6.2
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==2.0.10
ptyprocess==0.6.0
Pygments==2.6.1
PyInstaller==3.6
PyQt5==5.14.1
PyQt5-sip==12.7.1
pyserial==3.4
pytz==2018.5
PyYAML==5.1
pyzmq==17.1.2
simplegeneric==0.8.1
six==1.14.0
termcolor==1.1.0
traitlets==4.3.3
wcwidth==0.1.9
xlrd==1.2.0
XlsxWriter==1.2.8
